* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d1f;
    color: white;
    padding: 25px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 15px;
    margin-right: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}


.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #28a745;
    outline: none;
}

textarea {
    resize: vertical;
    box-sizing: border-box;
}

/* Intro Section */
.intro {
    position: relative;
    height: 400px;
    background: url('bg.png') no-repeat center center/cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.intro-content {
    background-color: rgba(18, 64, 5, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.intro h1 {
    font-size: 36px;
    margin: 0;
    padding-bottom: 10px;
}

.intro p {
    font-size: 18px;
}

/* Flight Booking Section */
.container {
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 2400px;
    width: 100%;
}

.booking-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Tabs styling */
.main-tabs,
.booking-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    background-color: #ccc;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.tab.active {
    background-color: #28a745;
    color: white;
}

.form-section {
    display: none;
}

.form-section.active {
    display: block;
}

#airport-list {
    margin-top: 20px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-radius: 8px;
    gap: 20px;
    padding: 10px;
}

.airport-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.airport-item h3 {
    margin: 0;
    font-size: 1.2em;
}

.airport-item p {
    margin: 5px 0;
    font-size: 1em;
}


/* Input group styling */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* search button */
.search-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.search-btn:hover {
    background-color: #218838;
}

/* Filter Group */
.filter-group {
    margin-bottom: 15px;
}

.filter-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.filter-group input,
.filter-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.filter-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.filter-btn:hover {
    background-color: #218838;
}
