.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d1f;
    /* MITA Green */
    color: white;
    padding: 25px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 15px;
    margin-right: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.auth-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #2e7d32;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #2e7d32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #256a28;
}

.toggle-link {
    text-align: center;
    margin-top: 15px;
    color: #2e7d32;
    cursor: pointer;
}

.toggle-link:hover {
    text-decoration: underline;
}